<% @content_layout = "has_sidebar_right" %>

<p>Les comités sont une façon pour le Parlement d'explorer des problèmes spécifiques en profondeur. Ils revoient les projets de lois, appellent des témoins experts, enquêtent sur des scandales et rapportent tout cela à la Chambre des communes ou le Sénat. Il y a différents types de comités dotés de différents rôles. Ci-dessous, tu trouveras une liste des différents comités existants - ils sont les groupes permanents qui gèrent un aspect spécifique du gouvernement.</p> 

<p>Alors, qu'arrive-t-il lors des rencontres de comités? La Fabrique citoyenne n'a pas encore accès aux informations sur <%= link_to "la Chambre des communes", "http://www.parl.gc.ca/CommitteeBusiness/Default.aspx?Language=F" %> ou <%= link_to "le Sénat", "http://www.parl.gc.ca/SenCommitteeBusiness/Default.aspx?Language=F" %> . En attendant, voici une liste des comités permanents de la Chambre des communes. Ils sont des groupes permanents qui supervisent un aspect spécifique du gouvernement. Tu peux cliquer sur n'importe quel comité pour voir les membres et les sous-comités.</p> 

<h3>Comités permanents de la Chambre des communes actuel</h3>

<div id="current_committees" class="section">
	<ul>
	<% for committee in @current_committees %>
		<li><%= link_to(committee.name, committee_path(committee)) %></li>
	<% end %>
	</ul>
</div>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>
